<%= simple_form_for @configuration, url: language_path, method: :put, wrapper: :horizontal_form do |f| %>
  <%= f.input(
    :admin_locale,
    collection: options_for_locale,
    hint: t('simple_form.hints.content/configuration.admin_locale')
  ) %>

  <hr>

  <%= f.input(
    :default_locale,
    collection: options_for_locale(locales: current_account.configuration.supported_locales),
    hint: t('simple_form.hints.content/configuration.default_locale')
  ) %>

  <div class='form-group row'>
    <%= f.label :supported_locales, class: 'col-sm-4 col-form-label' %>
    <div class='col-sm-8'>
      <%= f.input(
        :supported_locales,
        as: :check_boxes,
        collection: options_for_locale,
        hint: t('simple_form.hints.content/configuration.supported_locales')
      ) %>
    </div>
  </div>

  <div class='col-sm-8 offset-sm-4'>
    <%= f.button :submit, t('shared.actions.update'), class: 'btn-block btn-info' %>
  </div>
<% end %>
