<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <div class='container-fluid'>
    <button type='button' id='sidebarCollapse' class='btn btn-info'>
      <i class='fa fa-align-left'></i>
    </button>

    <button class='btn btn-dark d-inline-block d-lg-none ml-auto' type='button' data-toggle='collapse' data-target='#navbarId' aria-controls='navbarId' aria-expanded='false' aria-label='Toggle navigation'>
      <i class='fa fa-align-justify'></i>
    </button>

    <div class='collapse navbar-collapse' id='navbarId'>
      <ul class='nav navbar-nav ml-auto'>
        <% if current_user.admin? %>
          <li class='nav-item'>
            <%= link_to account_domain(current_account), class: 'nav-link', target: '_blank' do %>
              <%= t('admin.shared.view_site') %>
              <i class='fa fa-external-link'></i>
            <% end %>
          </li>
        <% elsif current_user.super_admin? %>
          <li class='nav-item'>
            <%= link_to 'Sidekiq', '/sidekiq', class: 'nav-link btn-danger', target: '_blank' %>
          </li>

          <li class='nav-item'>
            <%= link_to 'Feature Flippers', '/flipper', class: 'nav-link btn-primary', target: '_blank' %>
          </li>
        <% end %>

        <li class='nav-item'>
          <%= link_to messages_path, class: 'nav-link' do %>
            <span class='badge badge-pill badge-info'><%= unread_messages %></span>
            <%= plural_resource_name(Content::Message) %>
          <% end %>
        </li>

        <li class='nav-item'>
          <%= link_to t('admin.shared.profile'), edit_user_path, class: 'nav-link' %>
        </li>

        <li class='nav-item'>
          <%= link_to t('devise.actions.logout'), '/logout', method: :delete, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
