<nav id='sidebar'>
  <div class='sidebar-header'>
    <h3><%= link_to current_account&.mosque || t('shared.administration'), root_path %></h3>
  </div>

  <ul class='list-unstyled'>
    <%= nav_item(
      text: t('admin.tabs.dashboard'),
      path: root_path,
      icon: 'activity',
      active: request.path == '/admin/',
    ) if policy([:content, :dashboard]).index? %>

    <%= nav_item(
      text: plural_resource_name(Content::Account),
      path: accounts_path,
      icon: 'grid',
      active: request.path.starts_with?('/admin/accounts'),
    ) if policy(Content::Account).index? %>

    <%= nav_item(
      text: plural_resource_name(Content::Page),
      path: pages_path,
      icon: 'menu',
      active: request.path.starts_with?('/admin/pages'),
    ) if policy(Content::Page).index? %>

    <%= nav_item(
      text: plural_resource_name(Content::Article),
      path: articles_path,
      icon: 'book-open',
      active: request.path.starts_with?('/admin/articles'),
    ) if policy(Content::Article).index? %>

    <%= nav_item(
      text: plural_resource_name(Content::Volunteer),
      path: volunteers_path,
      icon: 'user-check',
      active: request.path.starts_with?('/admin/volunteers'),
    ) if policy(Content::Volunteer).index? %>

    <%= nav_item(
      text: plural_resource_name(Content::Subscriber),
      path: subscribers_path,
      icon: 'users',
      active: request.path.starts_with?('/admin/subscribers'),
    ) if policy(Content::Subscriber).index? %>

    <%= nav_item(
      text: plural_resource_name(Content::Newsletter),
      path: newsletters_path,
      icon: 'mail',
      active: request.path.starts_with?('/admin/newsletters'),
    ) if policy(Content::Newsletter).index? %>

    <%= nav_item(
      text: plural_resource_name(Content::Message),
      path: messages_path,
      icon: 'inbox',
      active: request.path.starts_with?('/admin/messages'),
    ) if policy(Content::Message).index? %>

    <li class='<%= settings_submenu_active? && 'active' %>'>
      <a href='#settingsSubmenu' data-toggle='collapse' aria-expanded='<%= settings_submenu_active? ? 'true' : 'false' %>' class='dropdown-toggle'>
        <span data-feather='settings'></span>
        <%= t('admin.tabs.settings') %>
      </a>

      <ul class='collapse <%= settings_submenu_active? && 'show' %> list-unstyled' id='settingsSubmenu'>
        <%= nav_item(
          text: t('admin.tabs.general'),
          path: edit_configuration_path,
          icon: 'zap',
          active: request.path.starts_with?('/admin/configuration/edit'),
        ) if current_account && policy(current_account.configuration).update? %>

        <%= nav_item(
          text: t('admin.shared.profile'),
          path: edit_user_path,
          icon: 'user',
          active: request.path.starts_with?('/admin/user'),
        ) %>

        <% if current_account && policy(current_account.configuration).update? %>
          <%= nav_item(
            text: t('admin.tabs.languages'),
            path: edit_language_path,
            icon: 'type',
            active: request.path.starts_with?('/admin/language/edit'),
          ) %>

          <%= nav_item(
            text: Content::Configuration.human_attribute_name(:about_us),
            path: edit_about_path,
            icon: 'info',
            active: request.path.starts_with?('/admin/about/edit'),
          ) %>
        <% end %>

        <%= nav_item(
          text: Content::Slider.model_name.human,
          path: edit_slider_path,
          icon: 'airplay',
          active: request.path.starts_with?('/admin/slider/edit'),
        ) if current_account && policy(current_account.configuration).update? %>

        <%= nav_item(
          text: Content::SidebarContent.model_name.human,
          path: sidebar_contents_path,
          icon: 'sidebar',
          active: request.path.starts_with?('/admin/sidebar'),
        ) if policy(Content::SidebarContent).index? %>

        <%= nav_item(
          text: Content::SocialNetwork.model_name.human,
          path: edit_social_network_path,
          icon: 'facebook',
          active: request.path.starts_with?('/admin/social_network/edit'),
        ) if current_account && policy(current_account.configuration).update? %>

        <%= nav_item(
          text: plural_resource_name(Content::Country),
          path: countries_path,
          icon: 'map-pin',
          active: request.path.starts_with?('/admin/countries'),
        ) if policy(Content::Country).index? %>
      </ul>
    </li>
  </ul>
</nav>
