<nav class='col-md-2 d-none d-md-block bg-light sidebar'>
  <div class='sidebar-sticky'>
    <ul class='nav flex-column'>
      <li class='nav-item'>
        <%= link_to root_path, class: 'nav-link active' do %>
          <span data-feather='home'></span>
          Dashboards
        <% end if policy([:content, :dashboard]).index? %>
      </li>
      <li class='nav-item'>
        <%= link_to pages_path, class: 'nav-link' do %>
          <span data-feather='file'></span>
          Pages
        <% end if policy(Content::Page).index? %>
      </li>
      <li class='nav-item'>
        <%= link_to accounts_path, class: 'nav-link' do %>
          <span data-feather='file'></span>
          Accounts
        <% end if policy(Content::Account).index? %>
      </li>
    </ul>

    <h6 class='sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted'>
      <span>Configurations</span>
      <a class='d-flex align-items-center text-muted' href='#'>
        <span data-feather='plus-circle'></span>
      </a>
    </h6>
    <ul class='nav flex-column mb-2'>
      <li class='nav-item'>
        <%= link_to countries_path, class: 'nav-link' do %>
          <span data-feather='file-text'></span>
          Countries
        <% end if policy(Content::Country).index? %>
      </li>
      <li class='nav-item'>
        <%= link_to regions_path, class: 'nav-link' do %>
          <span data-feather='file-text'></span>
          Regions
        <% end if policy(Content::Region).index? %>
      </li>
      <li class='nav-item'>
        <%= link_to cities_path, class: 'nav-link' do %>
          <span data-feather='file-text'></span>
          Cities
        <% end if policy(Content::City).index? %>
      </li>
    </ul>
  </div>
</nav>
