<nav class='col-md-2 d-none d-md-block bg-light sidebar'>
  <div class='sidebar-sticky'>
    <ul class='nav flex-column'>
      <li class='nav-item'>
        <%= link_to root_path, class: 'nav-link active' do %>
          <span data-feather='home'></span>
          Dashboards*
        <% end %>
      </li>

      <li class='nav-item'>
        <%= link_to pages_path, class: 'nav-link' do %>
          <span data-feather='file'></span>
          <%= plural_resource_name(Content::Page) %>
        <% end %>
      </li>

      <li class='nav-item'>
        <%= link_to articles_path, class: 'nav-link' do %>
          <span data-feather='file'></span>
          <%= plural_resource_name(Content::Article) %>
        <% end %>
      </li>

      <li class='nav-item'>
        <%= link_to edit_slider_path, class: 'nav-link' do %>
          <span data-feather='file'></span>
          <%= Content::Slider.model_name.human %>
        <% end %>
      </li>

      <li class='nav-item'>
        <%= link_to '/admin', class: 'nav-link' do %>
          <span data-feather='file'></span>
          Sidebar*
        <% end %>
      </li>

      <li class='nav-item'>
        <%= link_to '/admin', class: 'nav-link' do %>
          <span data-feather='file'></span>
          Prayer times*
        <% end %>
      </li>

      <li class='nav-item'>
        <%= link_to edit_social_network_path, class: 'nav-link' do %>
          <span data-feather='file'></span>
          <%= Content::SocialNetwork.model_name.human %>
        <% end %>
      </li>

      <li class='nav-item'>
        <%= link_to '/admin', class: 'nav-link' do %>
          <span data-feather='file'></span>
          Contacts*
        <% end %>
      </li>

      <li class='nav-item'>
        <%= link_to '/admin', class: 'nav-link' do %>
          <span data-feather='file'></span>
          Volunteers*
        <% end %>
      </li>

      <% if policy(Content::Account).index? %>
        <li class='nav-item'>
          <%= link_to accounts_path, class: 'nav-link' do %>
            <span data-feather='file'></span>
            <%= plural_resource_name(Content::Account) %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <h6 class='sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted'>
      <span>Configurations</span>
      <a class='d-flex align-items-center text-muted' href='#'>
        <span data-feather='plus-circle'></span>
      </a>
    </h6>
    <ul class='nav flex-column mb-2'>
      <% if policy(Content::Country).index? %>
        <li class='nav-item'>
          <%= link_to countries_path, class: 'nav-link' do %>
            <span data-feather='file-text'></span>
            Countries
          <% end %>
        </li>
      <% end %>

      <% if policy(Content::Region).index? %>
        <li class='nav-item'>
          <%= link_to regions_path, class: 'nav-link' do %>
            <span data-feather='file-text'></span>
            Regions
          <% end %>
        </li>
      <% end %>

      <% if policy(Content::City).index? %>
        <li class='nav-item'>
          <%= link_to cities_path, class: 'nav-link' do %>
            <span data-feather='file-text'></span>
            Cities
          <% end %>
        </li>
      <% end %>

      <li class='nav-item'>
        <%= link_to edit_configuration_path, class: 'nav-link' do %>
          <span data-feather='file-text'></span>
          <%= t('admin.tabs.general') %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
