<%= simple_form_for account, wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>

  <%= f.simple_fields_for :owner do |owner| %>
    <%= form_group_for owner, :authentication_token do %>
      <%= owner.input :generate_authentication_token, label: false %>

      <div class='authentication_token_path'>
        <%= root_url(authentication_token: owner.object.authentication_token) if owner.object.authentication_token.present? %>
      </div>
    <% end %>
  <% end %>

  <hr>

  <%= f.input :subdomain %>
  <%= f.input :responsable %>
  <%= f.simple_fields_for :owner do |owner| %>
    <%= owner.input :email, input_html: { autocomplete: 'email' } %>
  <% end %>

  <hr>

  <%= f.simple_fields_for :address do |address| %>
    <%= address.input :phone %>
    <%= address.input :address1 %>
    <%= address.input :zip_code %>
    <%= address.input :city_name %>
    <%= address.input :region_name %>
    <%= address.input :country_id, collection: Content::Country.all %>
    <%= address.input :longitude %>
    <%= address.input :latitude %>
  <% end %>

  <%= f.button :submit, class: 'btn btn-info pull-right' %>
<% end %>
