<% content_for :page_title do %>
  <%= Content::Account.model_name.human(count: :many) %>
<% end %>

<p><%= t('admin.shared.total', count: @accounts.count) %></p>

<div class='table-responsive'>
  <table class='table table-striped table-sm'>
    <thead>
      <tr>
        <th>#</th>
        <th><%= Content::Account.human_attribute_name(:mosque) %></th>
        <th><%= Content::Account.human_attribute_name(:subdomain) %></th>
        <th><%= Content::Account.human_attribute_name(:email) %></th>
        <th><%= Content::Account.human_attribute_name(:responsable) %></th>
        <th><%= Content::User.human_attribute_name(:confirmed_at) %></th>
        <th><%= Content::Address.model_name.human %></th>
        <th colspan='3'></th>
      </tr>
    </thead>

    <tbody>
      <% @accounts.each do |account| %>
        <tr class="table-<%= account_class_name_status(account.status) %>">
          <td><%= account.id %></td>
          <td><%= account.mosque %></td>
          <td><%= account.subdomain %></td>
          <td><%= account.email %></td>
          <td><%= account.responsable %></td>
          <td><%= account.owner.confirmed_at %></td>
          <td><%= account.address %></td>
          <td><%= link_to t('shared.actions.edit'), edit_account_path(account), class: 'btn btn-primary btn-sm' %></td>
          <td><%= link_to t('shared.actions.accept'), accept_account_path(account), method: :put, data: { confirm: t('admin.shared.are_you_sure') }, class: 'btn btn-success btn-sm' if account.pending? %></td>
          <td><%= link_to t('shared.actions.decline'), decline_account_path(account), method: :put, data: { confirm: t('admin.shared.are_you_sure') }, class: 'btn btn-danger btn-sm' if account.pending? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
