<p id="notice"><%= notice %></p>

<p>
  <strong>Subdomain:</strong>
  <%= @account.subdomain %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>

<p>
  <strong>Mosque:</strong>
  <%= @account.mosque %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @account.responsable %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @account.owner %>
</p>

<p>
  <strong>Address:</strong>
  <%= @account.address %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
