<%= simple_form_for page do |f| %>
  <%= f.error_notification %>

  <div class='row'>
    <div class='col-md-6'>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :ancestry, collection: policy_scope(Content::Page).roots, label_method: :pretty_name, value_method: :id %>
      <%= f.input :permalink_part, hint: page.permalink if page.persisted? %>
    </div>

    <div class='col-md-6'>
      <%= render 'admin/seo_contents/form', f: f %>
    </div>
  </div>

  <%= f.button :submit, class: 'btn-primary' %>
<% end %>
