<h1 class='form-header'>
  <%= t('devise.passwords.new.forgot_your_password') %>
</h1>

<%= form_for(resource, as: resource_name, url: reset_password_path, html: { method: :post, class: 'form-devise' }) do |f| %>
  <%= render 'landing/shared/devise_error_messages', resource: resource %>

  <div class='form-label-group'>
    <%= f.email_field :email, autofocus: true, required: true, autocomplete: 'email', placeholder: Content::User.human_attribute_name(:email), class: 'form-control' %>
    <%= f.label :email, Content::User.human_attribute_name(:email) %>
  </div>

  <%= f.submit t('devise.passwords.new.send_me_reset_password_instructions'), class: 'btn btn-sm btn-block' %>

  <%= render 'landing/shared/devise_links' %>
<% end %>
