<%= simple_form_for current_account, url: domain_path, method: :put, wrapper: :horizontal_form do |f| %>
  <div class='form-group row'>
    <label class='col-sm-4 col-form-label'>
      <%= Content::Account.human_attribute_name(:subdomain) %>
    </label>

    <div class='col-sm-8'>
      <%= "#{current_account.subdomain}.#{Rails.application.credentials.project_name}" %>
      <span class='badge badge-success'>
        <%= t('admin.domains.edit.connected') %>
      </span>
    </div>
  </div>

  <%= f.input :domain, hint: t('simple_form.hints.content/account.domain_html') %>

  <%= f.button :submit, t('admin.domains.edit.cta_text'), class: 'btn-info pull-right' %>
<% end %>
