<div class='article'>
  <h2 class='mb-2 article-title'>
    <%= article.title %>
  </h2>

  <div class='article-meta'>
    <i class='fa fa-clock-o'></i> <%= article.published_on %>
    <i class='fa fa-eye'></i> <%= article.views_count %>
    <%= social_share_button_tag(article.title) %>
  </div>

  <div class='article-body'>
    <% if article.video_id? %>
      <div class='embed-responsive embed-responsive-16by9 article-video'>
        <iframe class='embed-responsive-item' src='<%= article.video_link %>' allowfullscreen></iframe>
      </div>
    <% elsif article.photo.attached? %>
      <%= image_tag main_app.url_for(article.photo.variant(resize: '400x500')), class: 'img-fluid' %>
    <% end %>

    <%= sanitize article.body.presence || article.summary %>
  </div>
</div>
