<% if @slider %>
  <div class='jumbotron p-4 p-md-5 text-white rounded bg-dark slider' style="background-image: url(<%= main_app.url_for(@slider.photo.variant(resize: '1110x365')) if @slider.photo.present? %>);">
    <div class='col-md-6 px-0'>
      <h1 class='slider-title font-italic'>
        <%= @slider.title %>
      </h1>

      <p class='lead my-3'>
        <%= @slider.body %>
      </p>

      <p class='lead mb-0'>
        <%= link_to @slider.link_text, @slider.link, class: 'text-white font-weight-bold' %>
      </p>
    </div>
  </div>
<% end %>

<main role='main'>
  <div class='row'>
    <div class='col-md-8'>
      <%= render partial: 'public/pages/article', collection: @articles %>

      <%= will_paginate @articles, previous_label: '&laquo;', next_label: '&raquo;' %>
    </div>

    <%= render 'public/shared/sidebar' %>
  </div>
</main>
