<div class='row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative article'>
  <div class='col p-3 d-flex flex-column position-static'>
    <!--
      <strong class='d-inline-block mb-2 text-primary'>World</strong>
    -->
    <h3 class='mb-2 article-title'>
      <%= link_to article.title, article %>
    </h3>

    <div class='mb-1 text-muted'>
      <i class='fa fa-clock-o'></i> <%= article.published_on %>
      <i class='fa fa-eye'></i> <%= article.views_count %>
    </div>

    <p class='card-text mb-auto'>
      <%= article.summary&.truncate(100, omission: t('public.continued')) %>
    </p>

    <%= link_to t('public.read_more'), article %>
  </div>

  <div class='col-auto d-none d-lg-block article-thumbnail'>
    <%= link_to article do %>
      <%= image_tag article.displayed_photo(main_app, resize: '300x') %>
    <% end %>
  </div>
</div>
