<div class='row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative article'>
  <div class='col p-3 d-flex flex-column position-static'>
    <h3 class='mb-0 article-title'>
      <%= link_to article.title, article_path(article.slug) %>
    </h3>

    <div class='mb-1 text-muted'>
      <i class='fa fa-clock-o'></i><%= article.published_on %>
      <i class='fa fa-eye'></i><%= article.views_count %>
    </div>

    <p class='card-text mb-auto'>
      <%= article.summary.truncate(100, omission: t('public.continued')) %>
    </p>

    <%= link_to t('public.read_more'), article_path(article.slug) %>
  </div>

  <% if article.photo.attached? %>
    <div class='col-auto d-none d-lg-block'>
      <%= link_to article_path(article.slug) do %>
        <%= image_tag main_app.url_for(article.photo.variant(resize: '300x200')) %>
      <% end %>
    </div>
  <% end %>
</div>
