<!DOCTYPE html>
<html lang='en'>
  <head>
    <title><%= t('landing.site_name') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />

    <%= stylesheet_link_tag 'landing/application', media: 'all' %>
    <%= javascript_include_tag 'landing/application' %>
  </head>

  <body>
    <%= render 'landing/shared/header' %>

    <main role='main'>
      <%= render 'content/shared/flash_messages' %>

      <%= yield %>

      <%= render 'landing/shared/footer' %>
    </main>
  </body>
</html>
