<!DOCTYPE html>
<html lang='<%= lang %>' dir='<%= dir %>'>
  <head>
    <title><%= title %></title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <%== meta_description_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />

    <%= stylesheet_link_tag "landing/#{stylesheet}", media: 'all' %>
    <%= javascript_include_tag 'landing/application' %>

    <%= render 'content/shared/google_tag_manager_script_tag' if render_google_tag_manager? %>
  </head>

  <body class='<%= controller_name %> <%= action_name %>'>
    <%= render 'content/shared/google_tag_manager_noscript_tag' if render_google_tag_manager? %>
    <%= render 'landing/shared/header' %>

    <main role='main'>
      <%= render 'content/shared/flash_messages' %>

      <%= yield %>

      <%= render 'landing/shared/footer' %>
    </main>
  </body>
</html>
