<%= simple_form_for country do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>

  <div class='row'>
    <div class='col-sm-2'>
      <%= f.input :fips104 %>
    </div>

    <div class='col-sm-2'>
      <%= f.input :iso2 %>
    </div>

    <div class='col-sm-2'>
      <%= f.input :iso3 %>
    </div>

    <div class='col-sm-2'>
      <%= f.input :ison %>
    </div>

    <div class='col-sm-4'>
      <%= f.input :internet %>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-3'>
      <%= f.input :capital %>
    </div>

    <div class='col-sm-3'>
      <%= f.input :map_reference %>
    </div>

    <div class='col-sm-3'>
      <%= f.input :nationality_singular %>
    </div>

    <div class='col-sm-3'>
      <%= f.input :nationality_plural %>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-3'>
      <%= f.input :currency %>
    </div>

    <div class='col-sm-3'>
      <%= f.input :currency_code %>
    </div>

    <div class='col-sm-3'>
      <%= f.input :population %>
    </div>

    <div class='col-sm-3'>
      <%= f.input :title %>
    </div>
  </div>

  <%= f.input :comment %>

  <%= f.button :submit, class: 'btn-primary' %>
<% end %>
