<div class='container how-to-use'>
  <h1 class='header'>
    <%= t('landing.how_to_use.headline') %>
  </h1>

  <div class='row'>
    <div class='col-md-6'>
      <%= image_tag 'landing/how-to-use-step-1.png', alt: t('landing.how_to_use.step_1.content'), class: 'img-fluid' %>
      <h2><%= t('landing.how_to_use.step_1.headline') %></h2>
      <p><%= t('landing.how_to_use.step_1.content') %></p>
    </div>

    <div class='col-md-6'>
      <%= image_tag 'landing/how-to-use-step-2.png', alt: t('landing.how_to_use.step_2.content'),  class: 'img-fluid' %>
      <h2><%= t('landing.how_to_use.step_2.headline') %></h2>
      <p><%= t('landing.how_to_use.step_2.content') %></p>
    </div>

    <div class='col-md-6'>
      <%= image_tag 'landing/how-to-use-step-3.png', alt: t('landing.how_to_use.step_3.content'), class: 'img-fluid' %>
      <h2><%= t('landing.how_to_use.step_3.headline') %></h2>
      <p><%= t('landing.how_to_use.step_3.content') %></p>
    </div>

    <div class='col-md-6'>
      <%= image_tag 'landing/how-to-use-step-4.png', alt: t('landing.how_to_use.step_4.content'), class: 'img-fluid' %>
      <h2><%= t('landing.how_to_use.step_4.headline') %></h2>
      <p><%= t('landing.how_to_use.step_4.content') %></p>
    </div>
  </div>

  <hr class='divider-line'>
</div>
