<div class='map'>
  <h1 class='header'>
    <%= t('landing.home.index.map.headline') %>
  </h1>

  <div id='map'></div>
</div>

<script type='text/javascript'>
  mapboxgl.accessToken = '<%= Rails.application.credentials[Rails.env.to_sym][:mapbox_access_token] %>';

  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [10, 51],
    zoom: 3,
  });

  map.addControl(new mapboxgl.NavigationControl());
  map.scrollZoom.disable();

  <% @accounts.each do |account| %>
    var popup = new mapboxgl.Popup({ offset: 25 })
      .setHTML(
        '<%= link_to account.mosque, prefix_link_with_account_domain(account), target: '_blank' %>' +
        '<br>' +
        '<%= account.address.to_s %>'
      );

    new mapboxgl.Marker()
      .setLngLat(<%= account.decorate.coordinates %>)
      .setPopup(popup)
      .addTo(map);
  <% end %>
</script>
