<%= simple_form_for city do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>

  <div class='row'>
    <div class='col-sm-6'>
      <%= f.input :latitude %>
    </div>

    <div class='col-sm-6'>
      <%= f.input :longitude %>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6'>
      <%= f.input :timezone %>
    </div>

    <div class='col-sm-6'>
      <%= f.input :dma_id %>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6'>
      <%= f.input :county %>
    </div>

    <div class='col-sm-6'>
      <%= f.input :code %>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6'>
      <%= f.input :country_id, collection: Content::Country.all.sort, input_html: { id: 'country_id' } %>
    </div>

    <div class='col-sm-6'>
      <%= f.input :region_id, collection: f.object.country&.regions&.sort || [], input_html: { id: 'region_id' } %>
    </div>
  </div>

  <%= f.button :submit, class: 'btn-primary' %>
<% end %>
