<% content_for :page_title do %>
  <%= plural_resource_name(Content::City) %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to t('shared.actions.new'), new_city_path, class: 'btn btn-info' %>
<% end %>

<%= form_tag cities_path, method: :get do %>
  <div class='form-row'>
    <div class='form-group col-md-3'>
      <%= select_tag :country_id, options_for_select(@countries.map { |c| [c.name, c.id] }, params[:country_id]), class: 'form-control' %>
    </div>
    <div class='form-group col-md-3'>
      <%= select_tag :region_id, options_for_select(@regions.map { |c| [c.name, c.id] }, params[:region_id]), class: 'form-control' %>
    </div>
    <div class='form-group col-md-3'>
      <%= submit_tag 'Search', class: 'btn btn-secondary btn-sm' %>
    </div>
  </div>
<% end %>

<p><%= t('admin.shared.total', count: @cities.size) %></p>

<div class='table-responsive'>
  <table class='table table-striped table-sm'>
    <thead>
      <tr>
        <th>#</th>
        <th><%= Content::City.human_attribute_name(:name) %></th>
        <th><%= Content::City.human_attribute_name(:latitude) %></th>
        <th><%= Content::City.human_attribute_name(:longitude) %></th>
        <th><%= Content::Region.model_name.human %></th>
        <th><%= Content::Country.model_name.human %></th>
        <th colspan='2'></th>
      </tr>
    </thead>

    <tbody>
      <% @cities.each do |city| %>
        <tr>
          <td><%= city.id %></td>
          <td><%= city.name %></td>
          <td><%= city.latitude %></td>
          <td><%= city.longitude %></td>
          <td><%= city.region.name %></td>
          <td><%= city.country.name %></td>
          <td><%= link_to t('shared.actions.edit'), edit_city_path(city), class: 'btn btn-success btn-sm' %></td>
          <td><%= link_to t('shared.actions.delete'), city, method: :delete, data: { confirm: t('admin.shared.are_you_sure') }, class: 'btn btn-danger btn-sm' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
