<footer>
  <div class='row'>
    <div class='col-md-4'>
      <div class='address'>
        <%= simple_format current_account.decorate.display_address %>

        <dl>
          <dt><%= Content::User.human_attribute_name(:email) %></dt>
          <dd><%= current_account.email %></dd>
        </dl>

        <dl>
          <dt><%= Content::Address.human_attribute_name(:phone) %></dt>
          <dd><%= current_account.phone %></dd>
        </dl>
      </div>
    </div>

    <div class='col-md-4'>
      <% if current_account.supported_locales.reject(&:blank?).many? %>
        <%= form_tag select_locale_path, class: 'locale_selector' do %>
          <%= select_tag(:switch_to_locale, options_for_select(options_for_locale, I18n.locale), class: 'form-control') %>
        <% end %>
      <% end %>

      <% if social_network.present? %>
        <ul class='social-media'>
          <!--
            <li>
              <a href='#' class='rss' title='Rss'>
                <i class='fa fa-rss'></i>
              </a>
            </li>
          -->

          <% %i[youtube facebook google twitter vimeo instagram].each do |network| %>
            <% if social_network.send(network).present? %>
              <li>
                <a target='_blank' href='<%= social_network.send(network) %>' class='<%= network %>' title='<%= Content::SocialNetwork.human_attribute_name(network) %>'>
                  <i class='fa fa-<%= network %>'></i>
                </a>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class='col-md-4 newsletter-form'>
      <h3>Our newsletter</h3>

      <p>Subscribe to our newsletter, we will send you notification emails for time to time with recent updates,
        such as coming conferences, eid prayer times, and important news.</p>

      <%= render 'public/subscribers/new' %>
    </div>
  </div>

  <div class='secondary-footer'>
    <p>Page built by <a href='https://masajid.world'>Masajid World</a></p>
    <p>
      <a href='#'>Back to top</a>
    </p>
  </div>
</footer>
