<header class='py-3'>
  <div class='row flex-nowrap justify-content-between align-items-center'>
    <div class='col-4 pt-1'>
      <%= link_to Content::Configuration.human_attribute_name(:about_us), about_us_path, class: 'text-muted pr-2' %>
      <%= link_to t('shared.volunteers.new.header'), new_volunteer_path, class: 'text-muted' %>
    </div>

    <div class='col-4 text-center'>
      <%= link_to root_path, class: 'header-logo text-dark' do %>
        <% if current_account.logo.attached? %>
          <%= image_tag main_app.url_for(current_account.configuration.logo.variant(resize: '200x')) %>
        <% else %>
          <%= current_account.mosque %>
        <% end %>
      <% end %>
    </div>

    <div class='col-4 d-flex justify-content-end align-items-center'>
      <a class='text-muted' href='#'>
        <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' class='mx-3' role='img' viewBox='0 0 24 24' focusable='false'><title>Search</title><circle cx='10.5' cy='10.5' r='7.5'/><path d='M21 21l-5.2-5.2'/></svg>
      </a>
      <a class='btn btn-sm btn-outline-secondary' href='#'><%= t('shared.subscribe') %></a>
    </div>
  </div>
</header>

<% if menu_items.any? %>
  <nav class='navbar navbar-expand-lg navbar-dark bg-primary rounded'>
    <button class='navbar-toggler collapsed' type='button' data-toggle='collapse' data-target='#menu' aria-controls='menu' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse justify-content-md-center' id='menu'>
      <ul class='navbar-nav'>
        <% menu_items.each do |menu_item| %>
          <% children = menu_item.children %>

          <% if children.present? %>
            <li class='nav-item dropdown'>
              <a class='nav-link dropdown-toggle' href='#' id="dropdown<%= menu_item.id %>" data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><%= menu_item.name %></a>
              <div class='dropdown-menu' aria-labelledby="dropdown<%= menu_item.id %>">
                <% children.each do |child_item| %>
                  <%= link_to child_item.name, page_url(child_item.permalink), class: 'dropdown-item' %>
                <% end %>
              </div>
            </li>
          <% else %>
            <li class='nav-item'>
              <%= link_to menu_item.name, page_url(menu_item.permalink), class: 'nav-link' %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </nav>
<% end %>