<%= simple_form_for @slider, url: slider_path, method: :put, wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>

  <div class='form-group row'>
    <%= f.label :photo, class: 'col-sm-4 col-form-label' %>
    <div class='col-sm-8'>
      <%= f.input :photo, label: false %>

      <% if @slider.photo.attached? %>
        <%= f.input :remove_photo, as: :boolean %>
        <%= image_tag(main_app.url_for(@slider.photo.variant(resize_to_limit: [400, 700])), class: 'img-fluid') %>
      <% end %>
    </div>
  </div>

  <%= f.input :title %>
  <%= f.input :body %>
  <%= f.input :link_text %>
  <%= f.input :link %>

  <%= f.button :submit, class: 'btn btn-info pull-right' %>
<% end %>
