<%= simple_form_for current_account, url: configuration_path, method: :put, wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>

  <%= f.input :responsable %>
  <%= f.input :mosque %>

  <%= f.simple_fields_for :configuration, (current_account.configuration || current_account.build_configuration) do |ff| %>
    <div class='form-group row'>
      <label class='col-sm-4 col-form-label'>
        <%= Content::Address.human_attribute_name(:phone) %>
      </label>
      <div class='col-sm-8'>
        <%= current_account.address.phone %>
      </div>
    </div>

    <div class='form-group row'>
      <label class='col-sm-4 col-form-label'>
        <%= Content::User.human_attribute_name(:email) %>
      </label>
      <div class='col-sm-8'>
        <%= current_account.email %>
      </div>
    </div>

    <div class='form-group row'>
      <label class='col-sm-4 col-form-label'>
        <%= Content::Address.model_name.human %>
      </label>
      <div class='col-sm-8'>
        <%= simple_format current_account.decorate.display_address %>

        <%= ff.input :hide_phone, as: :boolean %>
        <%= ff.input :hide_email, as: :boolean %>
      </div>
    </div>

    <div class='form-group row'>
      <%= ff.label :logo, class: 'col-sm-4 col-form-label' %>
      <div class='col-sm-8'>
        <%= ff.input :logo, label: false %>
        <%= image_tag main_app.url_for(current_account.logo.variant(resize_to_limit: [150, 150])) if current_account.logo.attached? %>
      </div>
    </div>
  <% end %>

  <hr>

  <%= render 'admin/seo_contents/form', f: f, model_name: :configuration %>

  <%= f.button :submit, class: 'btn-info pull-right' %>
<% end %>
