<% content_for :page_title do %>
  <%= plural_resource_name(Content::Article) %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to t('shared.actions.new'), new_article_path, class: 'btn btn-info' %>
<% end %>

<p><%= t('admin.shared.total', count: @articles.count) %></p>

<div class='table-responsive'>
  <table class='table table-striped table-sm'>
    <thead>
      <tr>
        <th><%= Content::Article.human_attribute_name(:title) %></th>
        <th><%= Content::Page.model_name.human %></th>
        <th><%= Content::Article.human_attribute_name(:published_at) %></th>
        <th><i class='fa fa-eye'></i></th>
        <th colspan='4'></th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= link_to article.title, edit_article_path(article) %></td>
          <td><%= article.pages.map(&:name).join(', ') %></td>
          <td><%= article.published_on %></td>
          <td><%= article.views_count %></td>
          <td>
            <%= link_to edit_article_path(article), class: 'btn btn-success' do %>
              <i class='fa fa-pencil'></i>
            <% end %>
          </td>
          <td><%= link_to_translate translations_path(resource: :articles, resource_id: article.id), only_icon: true %></td>
          <td>
            <%= link_to prefix_link_with_account_domain(current_account, "/article/#{article.slug}"), class: 'btn btn-secondary', target: '_blank' do %>
              <i class='fa fa-external-link'></i>
            <% end %>
          </td>
          <td>
            <%= link_to article, method: :delete, data: { confirm: t('admin.shared.are_you_sure') }, class: 'btn btn-danger' do %>
              <i class='fa fa-trash'></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @articles, previous_label: '&laquo;', next_label: '&raquo;' %>
