<div class='container'>
  <hr class='divider-line'>
</div>

<footer>
  <div class='container main-footer'>
    <div class='row'>
      <div class='col-md-4'>
        <h5><%= t('shared.site_name') %></h5>
        <address>
          Islamisches Zentrum Al-Nour<br />
          Sievekingsallee 191<br />
          22111, Hamburg<br />
          Germany
        </address>

        <address>
          <i class='fa fa-phone'></i>
          <a href='tel:+49 40 28053914' dir='ltr'>+49 40 28053914</a>
        </address>

        <address>
          <i class='fa fa-envelope'></i>
          <a href='mailto:masajid.world@gmail.com'>masajid.world@gmail.com</a>
        </address>
      </div>

      <div class='col-md-4'>
        <h5><%= t('landing.footer.useful_links') %></h5>
        <ul class='list-unstyled'>
          <li><%= link_to t('landing.footer.home'), root_path %></li>
          <li><%= link_to t('shared.volunteers.new.header'), new_volunteer_path %></li>
          <li><%= link_to t('landing.footer.terms'), root_path %></li>
          <li><%= link_to t('landing.footer.privacy'), root_path %></li>
        </ul>
      </div>
      <div class='col-md-4'>
        <h5><%= t('landing.footer.follow_us') %></h5>
        <ul class='list-unstyled'>
          <li><a href='#'>Facebook</a></li>
          <li><a href='#'>Twitter</a></li>
          <li><a href='#'>Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class='copyright-footer'>
    <p>
      <%= t('landing.footer.copyright_html', year: Date.current.year) %>
    </p>

    <p>
      <a href='#'><%= t('shared.footer.back_to_top') %></a>
    </p>
  </footer>
</footer>
