<nav class='navbar navbar-expand-md navbar-dark fixed-top bg-dark'>
  <div class='container'>
    <%= link_to t('shared.site_name'), root_path, class: 'navbar-brand' %>
    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#landingNavbar' aria-controls='landingNavbar' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='landingNavbar'>
      <ul class='navbar-nav mr-auto'>
        <li class='nav-item'>
          <%= link_to t('shared.volunteers.new.header'), new_volunteer_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class='navbar-nav ml-auto'>
        <li class='nav-item dropdown'>
          <%= link_to '#', class: 'nav-link dropdown-toggle', id: 'localeDropdown', data: { toggle: 'dropdown'} , aria: { haspopup: 'true', expanded: 'false' } do %>
            <%= locale_with_icon(I18n.locale) %>
          <% end %>
          <div class='dropdown-menu' aria-labelledby='localeDropdown'>
            <% alternate_locales.each do |locale| %>
              <%= link_to url_for(locale: locale), class: 'dropdown-item' do %>
                <%= locale_with_icon(locale) %>
              <% end %>
            <% end %>
          </div>
        </li>

        <% if user_signed_in? %>
          <li class='nav-item'>
            <%= link_to t('landing.admin_panel'), '/admin', class: 'nav-link' %>
          </li>

          <li class='nav-item'>
            <%= link_to t('devise.actions.logout'), logout_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class='nav-item'>
            <%= link_to t('devise.actions.login'), login_path, class: 'nav-link' %>
          </li>

          <li class='nav-item'>
            <%= link_to t('landing.create_account'), new_account_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
