<header>
  <nav class='navbar navbar-expand-md navbar-dark fixed-top bg-dark'>
    <a class='navbar-brand' href='/'>The Open Masjid</a>
    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#landingNavbar' aria-controls='landingNavbar' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='landingNavbar'>
      <ul class='navbar-nav mr-auto'>
        <li class='nav-item'>
          <%= link_to t('shared.volunteers.new.header'), new_volunteer_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class='navbar-nav ml-auto'>
        <% if user_signed_in? %>
          <li class='nav-item'>
            <%= link_to 'Admin Panel', '/admin', class: 'nav-link' %>
          </li>
          <li class='nav-item'>
            <%= link_to 'Sign out', logout_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class='nav-item'>
            <%= link_to 'Sign in', login_path, class: 'nav-link' %>
          </li>

          <li class='nav-item'>
            <%= link_to 'Create Masjid Account', new_account_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
