<% content_for :page_title do %>
  <%= t('admin.translations.slider.header') %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to edit_slider_path, class: 'btn btn-success' do %>
    <i class='fa fa-edit'></i>
    <%= t('shared.actions.edit') %>
  <% end %>
<% end %>

<%= render 'settings' %>

<%= simple_form_for (current_account.slider || current_account.build_slider), url: slider_path do |f| %>
  <div class='tab-content' id='localeTabContent'>
    <% locales_for_translations.each_with_index do |locale, index| %>
      <div
        class='tab-pane fade <%= 'show active' if current_account.admin_locale == locale %>'
        id='<%= locale %>'
        role='tabpanel'
        aria-labelledby='<%= locale %>-tab'
      >
        <% I18n.with_locale(locale) do %>
          <%= f.globalize_fields_for locale do |g| %>
            <%= form_group_for g, :title, label: Content::Slider.human_attribute_name(:title) do %>
              <%= g.input :title, label: false %>
            <% end %>

            <%= form_group_for g, :body, label: Content::Slider.human_attribute_name(:body) do %>
              <%= g.input :body, as: :text, label: false %>
            <% end %>

            <%= form_group_for g, :link_text, label: Content::Slider.human_attribute_name(:link_text) do %>
              <%= g.input :link_text, label: false %>
            <% end %>

            <%= form_group_for g, :link, label: Content::Slider.human_attribute_name(:link) do %>
              <%= g.input :link, label: false %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= f.button :submit, class: 'btn btn-info pull-right' %>
<% end %>
