<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Admin Dashboard - Masajid World</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin/application', media: 'all' %>
    <%= javascript_include_tag 'admin/application' %>

    <%= render 'content/shared/google_tag_manager_script_tag' if render_google_tag_manager? %>
  </head>
  <body>
    <%= render 'content/shared/google_tag_manager_noscript_tag' if render_google_tag_manager? %>
    <%= render 'admin/shared/header' %>

    <div class='container-fluid'>
      <div class='row'>
        <%= render 'admin/shared/navigation' %>

        <main role='main' class='col-md-9 ml-sm-auto col-lg-10 px-4'>
          <%= render 'content/shared/flash_messages' %>

          <div class='d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom'>
            <h1 class='h2'>
              <%= yield :page_title %>
            </h1>

            <div class='pull-right'>
              <%= yield :page_actions %>
            </div>
          </div>

          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
