<%= simple_form_for @account do |f| %>
  <div class='text-center mb-4'>
    <h1 class='h3 mb-3 font-weight-normal'>Create Account</h1>
  </div>

  <%= f.error_notification %>

  <%= f.input :subdomain %>

  <%= f.input :email, input_html: { autocomplete: 'email' } %>

  <%= f.input :responsable %>

  <%= f.input :mosque %>

  <%= f.simple_fields_for :address do |address| %>
    <%= address.input :phone %>

    <div class='row'>
      <div class='col-sm-9'>
        <%= address.input :address1 %>
      </div>

      <div class='col-sm-3'>
        <%= address.input :zip_code %>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-4'>
        <%= address.input :country_id,
          collection: Content::Country.all,
          label_method: :name,
          value_method: :id
        %>
      </div>

      <div class='col-sm-4'>
        <%= address.input :region_id, collection: address.object.country&.regions&.sort || [] %>
      </div>

      <div class='col-sm-4'>
        <%= address.input :city_id, collection: address.object.region&.cities&.sort || [] %>
      </div>
    </div>
  <% end %>

  <%= f.button :submit, class: 'btn-primary' %>
<% end %>
